
.container {
  margin: 30px;
  width: 500px;
  font-family: sans-serif;
  font-size: 14px;
}

.form {
  width: 420px;
  padding: 15px;
  border: 1px solid black;
}

.formRow {
  margin: 2px 15px 30px 0px;
}

.mainMessage {
  background-color: #FFCCCC;
  padding: 10px 15px;
}

input {
  display: block;
  height: 30px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 2px;
}

.errorLabel {
  color: red;
}

.checkbox {
  display: inline-block;
  width:15px;
  height: 15px;
  margin-left:10px;
}

.checkboxLabel {
  display: inline-block;
}

button {
  background-color: red;
  color: white;
  font-size: 18px;
  width: 320px;
  height: 48px;
}

button.disable {
  background-color: grey;
  cursor: not-allowed;
}
